
.header h2{
    text-align: center;
}

.our-team{
    text-align: center;
    text-transform: uppercase;
    background-color: #011A31;
    color: white;
    height: 200px;
}
.member {
    width: 300px;
    text-align: center;
}
.card-deck{
    text-align: center;
}
.mid-texts {
    text-align: center;
    padding: 20px 10px;
    color: white;
}
.members{
    background-color: #011A31;
}
.trello img{
    padding-top: 20px;
    width: 1280px;
    border-radius: 40px;
}

.about-project img{
    width: 1280px;
    padding-top: 50px;
}
.members img{
    width: 400px;
}
.members h2{
    padding: 0;
    margin: 0;
}
.members h1{
    padding: 0;
    margin: 0;
}
.members h4{
    padding-top: 0px;
    margin-top: 0;
}
.alibi{
    padding-top: 10px;
    float: right;
}
.alibi h2{

}
.alikhan{
    padding-top: 10px;
}
.west-side img{
    width: 800px;
    box-shadow: #FFD000;
}

.about-project .text{
    padding-top: 300px;
    color: white;
    text-align: center;
    font-size: 70px;
}
.about-project .text h2{
    font-size: 70px;
    color: red;
    border: aqua;

}
.tech-used h1{
    padding: 25px 10px;
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 2px white, 0 0 15px #FFD000, 0 0 2px #FFD000;

}
*{
}
body{
    background-color: #011A31;
}